<div class="header">
  <div class="header__container">

    <div>
      <div class="logo">
        <img src="../assets/logo.png" alt="logo-rick" class="logo__rick">
      </div>
    </div>

    <div class="button__container">
      <mat-button-toggle-group >
        <mat-button-toggle class="button-home" [routerLink]="['/home']" routerLinkActive="router-link-active" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            Início
        </mat-button-toggle>
        <mat-button-toggle class="button-favorites" [routerLink]="['/favorites']" routerLinkActive="router-link-active">
          <mat-icon aria-hidden="false" aria-label="Example favorite icon" fontIcon="favorite"></mat-icon>
            Favoritos <span id="count-favorites">0</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

    </div>
  </div>
</div>

<router-outlet></router-outlet>